body {
	background-image: url('restaurant.png');
	background-position: center;
	background-repeat: no-repeat;
	background-color: gray;
}
table {
	color: white;
}
img {
	padding: 10px;
	margin: 10px;
	border: green 2px solid;
}
